<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <title>Document</title>
</head>
<body>
    <div id="usuariosCon">
        Usurios conectados :
        <span id="n-usuarios-conectados">900</span> 
    </div>

    <div id="visitas">
      <span id="vistas-usuarios">300</span>  
    </div>



    
    <script>
        // let socket=io() 

        // socket.on('actualizar',(usuarios_conect, visitas)=>{
        //     document.getElementById('n-usuarios-conectados').innerHTML=usuarios_conect
        //     document.getElementById('vistas-usuarios').innerHTML=visitas
        // })

        // const urlParams = new URLSearchParams(window.location.search);
        // const params = urlParams.get('params');
        // console.log(params);

        // window.location.href='https://factus.com.co/'
    </script>
</body>
</html>